/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/storage/app/public/upload/images/*
/storage/app/public/upload/raws/*
/storage/app/public/upload/thumbs/*
/storage/app/public/upload/video/*
uploader